<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- <link rel="stylesheet" href="css/style.css"> -->
    <link rel="stylesheet" href="/css/carrinho.css">
    <link rel="stylesheet" href="/css/headerSimples_footer.css">

    <title>Art Pet & Cia - Carrinho de Compras </title>
</head>

<body class="container">
   
    <%- include("./components/headerSimples.ejs") %>

    <main class="conteiner">
        <div class="carrinhoCompras">
            <h1>Carrinho de Compras</h1>
        </div>

        <div class="gridCarrinho">
            <div class="primeiraColuna">
                <section class="section_itensCompras">
                    <h2>Produtos</h2>
                    <a href="limparCarrinho" class="limparCarrinho">Limpar Carrinho</a>
                </section>

                <div class="primeiraColuna">
                    <section class="section_itensCompras">
                      <h2>Produtos</h2>
                      <a href="/carrinho/limpar" class="limparCarrinho">Limpar Carrinho</a>
                    </section>
                  

                     <div class="wrapper">
                        <div class="box_img"><img src="<%= produto.produto_img %>" alt="<%= produto.produto_nome %>"></div>
                        <div class="box_descriction"><h2><%= produto.produto_nome %></h2></div>
                        <div class="box_lixeira"> <img src="img/icones/lixo.svg" alt="Lixeira" class="img_lixeira"></div>
                        <div class="box_qtde">
                            <button>-</button>
                            <span>1</span>
                            <button>+</button>
                        </div>
                     </div>


                     <div class="cep">
                            <h2>Frete e Prazo</h2>
                        
                    </div>
                        <div class="article_cep">
                            <label class="label_cep" for="cep">CEP</label>
                            <input class="input_cep" type="text" name="cep" id="cep">
                            <button class="submit_cep" type="submit">Buscar</button>
                        </div> 
                     

                
            </div>

            <div class="segundaColuna">
                <section>
                    <h2>Resumo do Pedido</h2>
                </section>

                <section class="section_resumoCompras">
                    <article class="final_produtos">
                        <span>Produto</span>
                        <span><%= produto.produto_preco %></span>
                    </article>
                    <article class="final_frete">
                        <span>Frete</span>
                        <span>R$ 10,00</span>
                    </article>
                    <article class="final_total">
                        <span>Total</span>
                        <span>R$ 200,00</span>
                    </article>
                    <article>
                        <button class="button_finalizar_compra" type="submit">Finalizar Compra</button>
                    </article>
                    <article>
                        <a href="" class="button_continuar_compra">Comprar mais produtos</a>
                    </article>
                </section>
                
            </div>
           
      </div>
    </main>

<%- include("./components/footer.ejs") %>

</body>
</html>