<nav class="nav_texto container">
    <a href="/categoria/<%=1 %>" >Cães</a>

    <a href="/categoria/<%=2 %>" >Gatos</a>

    <a href="/categoria/<%=3 %>" >Peixes</a>

    <a href="/categoria/<%=4 %>" >Pássaros</a>

    <a href="/categoria/<%=5 %>" >Outros Pets</a>

    <a href="/categoria/<%=6 %>" >Acessórios</a>

</nav>