<nav class="nav_texto container">
    <a href="/categoria/<%=1 %>" target="_blank">Cães</a>

    <a href="/categoria/<%=2 %>" target="_blank">Gatos</a>

    <a href="/categoria/<%=3 %>" target="_blank">Peixes</a>

    <a href="/categoria/<%=4 %>" target="_blank">Pássaros</a>

    <a href="/categoria/<%=5 %>" target="_blank">Outros Pets</a>

    <a href="/categoria/<%=6 %>" target="_blank">Acessórios</a>

</nav>